Repository simpicapp/simpic: changes, and which Semaphore blocks are due for each by the changed paths.
All: Backend, Frontend

Backend:
  jobs:
  - name: Build
    commands:
    - checkout
    - go build ./...
    - go fmt ./...

Frontend:
  jobs:
  - name: Build
    commands:
    - checkout
    - cd frontend
    - npm ci
    - npm run lint

Add an include filter to the batch uploader
  cmd/import/main.go
Due: Backend

Switch to exif fork
  go.mod
  go.sum
  internal/processing/exif.go
  internal/processing/migrations.go
Due: Backend

Add kodiak config
  .github/.kodiak.toml
Due: none

Add links to download images
  frontend/src/pages/lightbox.vue
  frontend/vue.config.js
  internal/api/photo.go
Due: Backend, Frontend

Store info about each image format in the DB
  frontend/src/components/gallery.vue
  frontend/src/features/cache.ts
  frontend/src/features/formatting.ts
  frontend/src/model/photo.ts
  frontend/src/pages/lightbox.vue
  internal/api/photo.go
  internal/database.go
  internal/photo.go
  internal/processing/migrations.go
  internal/processing/processor.go
  internal/processing/storage.go
  internal/storage/disk.go
  migrations/20200303202116_photo_formats.down.sql
  migrations/20200303202116_photo_formats.up.sql
Due: Backend, Frontend

Try to make semaphore play nice with PRs.
  .semaphore/semaphore.yml
  CHANGELOG.adoc
Due: none

Only read bytes if we need them when migrating.
  internal/processing/processor.go
Due: Backend

Calculate photo taken time and use it when sorting
  CHANGELOG.adoc
  internal/database.go
  internal/photo.go
  internal/processing/exif.go
  internal/processing/migrations.go
  internal/processing/processor.go
  migrations/20200304120656_time_taken.down.sql
  migrations/20200304120656_time_taken.up.sql
Due: Backend

Expand filename to timestamp heuristics
  go.mod
  internal/processing/exif.go
  internal/processing/exif_test.go
  internal/processing/migrations.go
Due: Backend

Allow editing of albums
  frontend/src/components/action-icon.vue
  frontend/src/components/album-dialog.vue
  frontend/src/components/album-picker.vue
  frontend/src/pages/album.vue
  internal/database.go
Due: Backend, Frontend

WebP thumbnails/screen-friendly previews
  CHANGELOG.adoc
  cmd/serve/main.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/cache.ts
  frontend/src/features/formatting.ts
  frontend/src/features/images.ts
  frontend/src/pages/lightbox.vue
  internal/api/photo.go
  internal/api/routes.go
  internal/api/server.go
  internal/database.go
  internal/disk.go
  internal/photo.go
  internal/processing/migrations.go
  internal/processing/processor.go
  internal/processing/storage.go
  internal/storage/disk.go
  internal/storage/type.go
Due: Backend, Frontend

Make lint happy
  frontend/src/features/images.ts
Due: Frontend

Move API behind an /api prefix
  frontend/src/components/album-dialog.vue
  frontend/src/components/album-picker.vue
  frontend/src/components/gallery-toolbar.vue
  frontend/src/components/uploader.vue
  frontend/src/features/auth.ts
  frontend/src/pages/album.vue
  frontend/src/pages/albums.vue
  frontend/src/pages/lightbox.vue
  frontend/src/pages/timeline.vue
  frontend/vue.config.js
  internal/api/auth.go
  internal/api/routes.go
Due: Backend, Frontend

Use history mode, add server-side routing
  frontend/src/components/gallery.vue
  frontend/src/features/router.ts
  frontend/src/pages/lightbox.vue
  internal/api/frontend.go
  internal/api/middleware.go
  internal/api/routes.go
  internal/api/util.go
  internal/database.go
Due: Backend, Frontend

Generate open graph tags when server-side routing
  internal/api/frontend.go
Due: Backend

Update title in the frontend
  CHANGELOG.adoc
  frontend/src/features/router.ts
  frontend/src/features/title.ts
  frontend/src/pages/album.vue
  frontend/src/pages/albums.vue
  frontend/src/pages/lightbox.vue
  frontend/src/pages/timeline.vue
Due: Frontend

Add twitter card tags
  internal/api/frontend.go
Due: Backend

Make URLs fully qualified
  internal/api/frontend.go
Due: Backend

Fix logging in.
  frontend/src/components/login.vue
Due: Frontend

Fix console error when navigating
  frontend/src/components/gallery.vue
Due: Frontend

Add e2e tests with cypress
  .semaphore/semaphore.yml
  frontend/.gitignore
  frontend/cypress.json
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/e2e/.eslintrc.js
  frontend/tests/e2e/custom-assertions/elementCount.js
  frontend/tests/e2e/custom-commands/customExecute.js
  frontend/tests/e2e/custom-commands/openHomepage.js
  frontend/tests/e2e/custom-commands/openHomepageClass.js
  frontend/tests/e2e/globals.js
  frontend/tests/e2e/page-objects/homepage.js
  frontend/tests/e2e/plugins/index.js
  frontend/tests/e2e/specs/spec_login.js
  frontend/tests/e2e/specs/test-with-pageobjects.js
  frontend/tests/e2e/specs/test.js
  frontend/tests/e2e/support/commands.js
  frontend/tests/e2e/support/index.js
  frontend/tests/unit/example.spec.js
  frontend/tests/unit/example.spec.js.map
  frontend/tests/unit/example.spec.ts
Due: Frontend

Fix silly eslint error
  frontend/.eslintrc.js
Due: Frontend

Try running xvfb manually in semaphore
  .semaphore/semaphore.yml
Due: none

Make semaphore share secrets?
  .semaphore/semaphore.yml
Due: none

Add toolbar option to change visibility
  frontend/src/components/album-dialog.vue
  frontend/src/components/gallery-toolbar.vue
  frontend/src/components/visibility-switch.vue
  internal/api/photo.go
  internal/api/routes.go
  internal/database.go
Due: Backend, Frontend

Fix setting visibility to public, add titles.
  frontend/src/components/visibility-switch.vue
  internal/api/photo.go
Due: Backend, Frontend

Fix public albums showing unlisted pictures
  internal/api/album.go
Due: Backend

Add support for serving over HTTPS
  CHANGELOG.adoc
  README.adoc
  internal/api/server.go
Due: Backend

Kodiak: Don't remove automerge label on conflict
  .github/.kodiak.toml
Due: none

Auto-approve dependabot changes too
  .github/.kodiak.toml
Due: none

Update vue composition API
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/gallery.vue
  frontend/src/components/popup.vue
Due: Frontend

Bundle go licenses in docker images
  Dockerfile
  README.adoc
Due: none

Update Go to 1.16, update go dependencies
  go.mod
  go.sum
Due: Backend

Update dependabot username in kodiak conf
  .github/.kodiak.toml
Due: none

Update go Go 1.17, go mod tidy.
  go.mod
  go.sum
Due: Backend

Path conditions:
  Backend: any of: go.mod, go.sum, internal/, cmd/
  Frontend: any of: frontend/
